[submodule "data/applications/book-server"]
	path = data/applications/book-server
	url = https://github.com/ibragins/book-server
	branch = main
[submodule "data/ci"]
	path = data/ci
	url = https://github.com/konveyor/ci.git
	branch = main
[submodule "data/yaml/test-rules"]
	path = data/yaml/test-rules
	url = https://github.com/abrugaro/test-rules.git
